{{ define "input" }}
<fieldset class="fieldset" x-data="{ isInvalid: false }">

	{{ if .Label }}
		<label class="label">
			<span class="text-xs font-bold text-base-content opacity-60">

				{{ .Label }}

				{{ if .Required }}
					<span class="text-error font-bold ml-0.5">*</span>
				{{ end }}

			</span>
		</label>
	{{ end }}

	<div class="w-full">

		<input
			type="text"
			name="{{ .Name }}"
			id="{{ .Id }}"
			placeholder="{{ .Placeholder }}"

			@invalid.prevent="isInvalid = true"
			@input="isInvalid = false"

			{{ if .Required }}
				required
			{{ end }}

			{{ if .DisabledBinding }}
				:disabled="{{ .DisabledBinding }}"
			{{ end }}

			:class="[
			isInvalid
			? 'input-error'
			: 'focus:input-info',

{{ if .DisabledBinding }}
			({{ .DisabledBinding }})
			? 'opacity-50 cursor-not-allowed bg-base-200'
			: ''
{{ else }}
			''
{{ end }}
			]"

			class="input input-xs w-full focus:outline-hidden"

		{{ .Attr | htmlattr }}
		/>

		<div class="h-4">
			<template x-if="isInvalid">
				<p class="text-error text-[9px] font-semibold leading-none mt-1">
					{{ .Label }} ini wajib diisi.
				</p>
			</template>
		</div>

	</div>
</fieldset>
{{ end }}